%h1.page-header >> Rejected Plates <<
.charts(ng-controller= "phraseChartController")
  .plates-graph
    %h3 Frequency of requests by month
    %svg.frequency-by-month-chart
  .plates-graph
    %phrase-chart{phrases: "phrases", query: "query"}
  .plates-graph
    %h3 ¯\_(ツ)_/¯
    %svg.shrugz
.plates-container(ng-controller= "monthCardController")
  .month-card(ng-repeat= "(month, plate_collection) in months")
    %month-card{label: "month", group: "plate_collection"}
  