.main-header
  .fixed-header
    %h1.page-header >> Rejected Plates <<
    %p A collection of rejected license plates, from 2011-2014
  .page-header-invisible
.content-body
  .charts
    .plates-graph
      %h3 Frequency of requests by month
      %svg.frequency-by-month-chart
    .plates-graph(ng-controller= "phraseChartController")
      %phrase-chart{query: "query"}
    .plates-graph
      %h3.frequency-by-character-header Frequency of characters
      %svg.frequency-by-character
  .plates-container(ng-controller= "monthCardController")
    .month-card(ng-repeat= "item in monthArray | orderBy:'monthKey'")
      %month-card{label: "item.monthKey", group: "item.plate_collection"}
    