%h1.page-header >> Rejected Plates <<
.charts
  .plates-graph
    %h3 Frequency of requests by month
    %svg.frequency-by-month-chart
  .plates-graph
    %h3 Frequency of /BAD/
    %svg.frequency-of-phrase-chart
  .plates-graph
    %h3 ¯\_(ツ)_/¯
    %svg.shrugz
.plates-container(ng-controller= "monthCardController")
  .month-card(ng-repeat= "(month, plate_collection) in months")
    %month-card{label: "month", group: "plate_collection"}
  