h3 select {
  border: none;
  background: white;
  font-family: 'Inconsolata', 'Courier New', 'Courier', monospace;
  font-size: 18px;
  font-weight: 600;
  margin-left: -6px;
  color: $pink;
  text-transform: capitalize;
}

.frequency-by-time-period-chart {
  rect {
    fill: $blue;
    &:hover {
      fill: $hoverBlue;
    }
  }

  .domain {
    fill: $white;
  }

  .x.axis path {
    display: $fuckThat;
  }
}
