.plates-graph {
  padding-bottom: $mediumSpacing;
  margin-bottom: $largeSpacing;
  width: 33%;
  max-width: 400px;

  h3 {
    text-align: center;
    margin-bottom: $mediumSpacing;
  }
}

.charts {
  @include display(flex);
  @include justify-content(space-between);
  @include flex-wrap(wrap);
}

.axis {
  font-size: $smallFont;
}

.axis path,
.axis line {
  fill: $fuckThat;
  stroke: $pink;
  shape-rendering: crispEdges;
}

svg text {
  fill: $pink;
}

div.tooltip { 
  position: absolute;
  text-align: center;
  width: 60px;
  height: 20px;
  padding: 2px;
  font: $smallFont 'Inconsolata', monospace;
  background: $white;
  border: solid 1px $pink;
  pointer-events: none;
  padding: 10px;
}

div.blue-tooltip {
  @extend .tooltip;
  border: solid 1px $cyan;
}