.charts {
  @include display(flex);
  @include justify-content(space-between);
  @include flex-wrap(wrap);
}

.axis {
  font-size: $smallFont;
}

.axis path,
.axis line {
  fill: $fuckThat;
  stroke: $pink;
  shape-rendering: crispEdges;
}

svg text {
  fill: $pink;
}