.month-card {
  @include flex-basis(1);
  @include flex-grow(1);
  width: 25%;
  height: 300px;
  text-align: center;

  ul {
    @include auto-center-margins;
    width: 80%;
    max-width: 200px;
    height: 180px;
    overflow: scroll;
  }

  &:after {
    content: '<- ->';
    position: absolute;
    color: fuchsia;
    margin-top: -110px;
    margin-left: 63px;
    font-family: 'VT323';
    transform: rotate(90deg);
  }
}