// Font Sizes
$largeFont: 45px;

$mediumFont: 36px;
$regularFont: 16px;
$smallFont: 11px;

// Spacing
$sectionSpacing: 80px;
$largeSpacing: 60px;
$mediumSpacing: 40px;
$smallSpacing: 20px;
$tinySpacing: 10px;

// Colors
$white: #ffffff;
$cyan: cyan;
$pink: fuchsia;
$blue: aqua;
$hoverBlue: #00F0F0;
$fuckThat: none;
$gradient: linear-gradient( 0deg, rgba(0, 255, 255, 0.23), rgba(255, 0, 255, 0.25) );

// Sizing
$headerHeight: 170px;