%h3 
  Frequency of /
  %input{"ng-value": "{{ query | uppercase }}", "maxlength": "8", "ng-model": "query", name: "query", "ng-minlength": 1, "ng-maxlength": 8, "ng-model-options": "{debounce: 250}"}
  \/
%svg.frequency-of-phrase-chart